* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Karla', sans-serif;
}

/* Style the navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 20px;
}

.navbar--image {
    height: 100%;
    margin-right: 6px;
}

.navbar--title {
    font-size: 1.29rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.03em;
}

/* Style the main content */
main {
    padding: 36px;
    margin: 0 auto;
}

.form {
    display: grid;
    grid-template-rows: repeat(3, 45px);
    gap: 17px;
    max-width: 575px;
    margin: 0 auto 17px;
}

.form--input {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.form--button {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    border: none;
    cursor: pointer;
}


.meme {
    display: table;
    margin: 0 auto;
    max-width: 575px;
    position: relative;
}

.meme--image {
    max-width: 100%;
    border-radius: 3px;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}